<h1>Compradores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
    <th>Email</th>
      
      <th colspan="4">Ações</th> <!-- Adicionando uma coluna extra para as ações -->
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= buyer.user.name %></td>
        <td><%= buyer.user.email %></td>

        <td><%= link_to 'Mostrar', buyer %></td>
        <td><%= link_to 'Editar', edit_buyer_path(buyer) %></td>
        <td>
        <% if buyer.user.active? %>
        <%= link_to 'Desativar', toggle_activation_buyer_path(buyer), method: :patch, data: { confirm: 'Você tem certeza que deseja desativar este usuário?' } %>
      <% else %>
        <%= link_to 'Ativar', toggle_activation_buyer_path(buyer), method: :patch, data: { confirm: 'Você tem certeza que deseja ativar este usuário?' } %>
      <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Comprador', new_buyer_path %>
